:root{
    --bg_one:#2C2747;
    --bg_two:#191820;
    --secondaryBg:#282732;
    --textColor:#BD9E59;
    --textColorblue:#2C1DA1;
    --textLightColor:#8890B5;
    --borderColor:#302c50;
}
/* ----- Rate Stats Sections */
.list-group{
    margin-top: 2rem;
}
.list-group .list-group-item{
    display:flex;
    justify-content:space-between;
    align-items: flex-start;
    background:var(--bg_two);
    color:var(--textLightColor);
    border-color: var(--textLightColor);
}
.list-group .list-group-item .rate,.percent{
  font-size: 13px;
}
.list-group .list-group-item .percent{
    color:#fff;
}
/* ---- Runes ----- */


/* .runeheader{
    display: flex;
    justify-content:center;
    align-items: center;
}
.RunesSection .runesContents .runename{
    font-size:12px;
    color:var(--textLightColor);
}
.RunesSection .runesContents .runename .RunesIcons{
    display:grid;
    grid-template-columns: repeat(1,2fr);
    row-gap: .5rem;
    column-gap: 1rem;
}
.RunesIcons .icons{
    width:25px;
    height: 25px;
}
.KeyStonesIcon,.slot{
    display: flex;
    justify-content: center;
    align-items: center;
} */




@media (max-width: 768px) { 
  

  }
