.dropdownSelect select{
  border:none;
  background: #212529;
  color:#fff;
  font-size: 12px;
  padding: .1rem;
  display:flex;
  justify-content:center;
  align-items:center;
  /* margin-top: .5rem;*/
  width:auto;
} 

